@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;
  height: fit-content;
  background-color: white !important;
}

.wallet-adapter-button-trigger {
  background: rgb(100, 26, 230) !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}

.main-bg {
  background-image: url('/background.svg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  max-width: 1128px;
}
